[build]
  command = "node -e \"console.log('REACT_APP_PIXABAY_KEY length:', (process.env.REACT_APP_PIXABAY_KEY||'').length)\" && npm run build"
  publish = "build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
