[build]
  command = "npm run build"
  publish = "build"

[build.environment]
  REACT_APP_PIXABAY_KEY = "53139576-2f224fdf737b500933b59b147"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
